spring:
  application:
    name: product-service
  
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/atb_social}
    username: ${SPRING_DATASOURCE_USERNAME:postgres}
    password: ${SPRING_DATASOURCE_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

aws:
  region: ${AWS_REGION:us-east-2}
  s3:
    bucket: ${AWS_S3_BUCKET:atb-product-images}

server:
  port: 8080

logging:
  level:
    com.lexo.productservice: DEBUG
    org.springframework.web: INFO


